<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title>PREGUNTAS FRECUENTES</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card>
          <ion-card-header style="color:black">
            ¿En dónde puedo visualizar el pase de abordar?
          </ion-card-header>
          <ion-card-content>
            El pase lo podrás encontrar en tu Aplicación en la Sección “Mis pases” donde te aparecerá la información del pase pendiente o tu código QR en caso que sea un pase que ya deba de estar activo.
          </ion-card-content>
          <ion-card-header style="color:black">
            ¿Se puede utilizar el pase de abordar en cualquier parada?
          </ion-card-header>
          <ion-card-content>
            Sí, el pase podrá ser usado en cualquier parada dentro de la ruta seleccionada.
          </ion-card-content>
          <ion-card-header style="color:black">
            ¿Cómo puedo usar mi pase de abordar si no tengo internet?
        </ion-card-header>
        <ion-card-content>
            Podrás tener tu código de forma impresa o como captura en un dispositivo móvil
        </ion-card-content>  <ion-card-header style="color:black">
            ¿Qué pasa si mi pase de abordar dice que no existe?
        </ion-card-header>
        <ion-card-content>
            Favor de contactarnos.
        </ion-card-content>  <ion-card-header style="color:black">
            ¿Qué captura tengo que enviar para generar mi pase de abordar?
        </ion-card-header>
        <ion-card-content>
            La captura de registro del alumno.
        </ion-card-content>  <ion-card-header style="color:black">
            Pagué por aplicación y no se me habilita el pase de abordar 
        </ion-card-header>
        <ion-card-content>
            Favor de registrar su pago en el siguiente formulario:
            <ion-item-group>
                <ion-item> <a href="https://forms.gle/qSsuXtSUdh3MWp4w5">CIDEB</a> </ion-item>
        
                <ion-item> <a href="https://forms.gle/KyYVJm3yA5ZaVMQVA">Prepa 2</a> </ion-item>
        
                <ion-item> <a href="https://forms.gle/nJfad1qzVrUfGtXd7">Prepa 9</a> </ion-item>
        
                <ion-item> <a href="https://forms.gle/KA9eaFj6V9U7PPHg6">UDEM</a> </ion-item>
        
            </ion-item-group>
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Qué pasa si me aparece el pase de abordar en otra parada?
        </ion-card-header>
        <ion-card-content>
            No pasa nada mientras el pase esté habilitado para la ruta que deseas.
        </ion-card-content>
        <ion-card-header style="color:black">
            No me aparece el código QR y ya realicé el pago
        </ion-card-header>
        <ion-card-content>
            El código QR se habilita 24 horas antes del inicio de la vigencia del pase. En caso de aparecer la leyenda de “no tiene ningún pase” y ya realizó el pago hace mas de 24 horas, favor de contactarnos
        </ion-card-content>
        <ion-card-header style="color:black">
           <h3>APLICACIÓN</h3> 
            ¿Dónde puedo descargar la aplicación?            
        </ion-card-header>
        <ion-card-content>
            Puedes descargarla directamente desde App Store, Play Store o App Gallery sin costo.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Pueden los papás descargar la aplicación?
        </ion-card-header>
        <ion-card-content>
            Sí, los papás podrán descargar la aplicación con el mismo usuario y contraseña del alumno.
        </ion-card-content>
        <ion-card-header style="color:black">
            Al abrir la aplicación me aparece la pantalla en blanco
        </ion-card-header>
        <ion-card-content>
            Te pedimos que intentes las opciones que te mencionamos a continuación:
 1. Eliminar la aplicación y volverla a descargar. 
2. Intentar con otro dispositivo 
3. En caso de no funcionar ninguna de las primeras 2 opciones, contactarnos.
        </ion-card-content>
        <ion-card-header style="color:black">
            No me deja registrarme otra vez con el mismo correo
        </ion-card-header>
        <ion-card-content>
            Regístrate de nuevo con otro correo de preferencia Gmail.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Dónde puedo revisar la confirmación de mi registro?
        </ion-card-header>
        <ion-card-content>
            Recibirás un correo de confirmación, este lo puedes encontrar en tu Bandeja de Entrada o Correo no deseado/Spam.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Cómo sé dónde viene mi camión?
        </ion-card-header>
        <ion-card-content>
            Podrás visualizar el recorrido del camión en movimiento en tiempo real en tu Aplicación.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Cómo puedo habilitar mis notificaciones?
        </ion-card-header>
        <ion-card-content>
            Para habilitar tus notificaciones será necesario hacerlo directamente en la activación de notificaciones de tu dispositivo móvil.
        </ion-card-content>
        <ion-card-header style="color:black">
           <h3>COSTO</h3> 
            ¿Cuál es el costo del servicio?            
        </ion-card-header>
        <ion-card-content>
            El costo por un periodo de 20 días hábiles es de $1980 (no incluye IVA).
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Es obligatorio contratar el servicio por todo el semestre?
        </ion-card-header>
        <ion-card-content>
            No, no es obligatorio. 
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Cómo cancelo el servicio?
        </ion-card-header>
        <ion-card-content>
            El servicio se cancela en automático al no realizar el pago del siguiente periodo.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿El costo del servicio es pago único? 
        </ion-card-header>
        <ion-card-content>
            No, el pago corresponde al pago de un periodo.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Existe un costo de inscripción?
        </ion-card-header>
        <ion-card-content>
            No.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Se cobran las vacaciones?
        </ion-card-header>
        <ion-card-content>
            No, sólo se consideran los días hábiles dentro del costo del servicio.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿En caso de que no haya clases se cobra el servicio?
        </ion-card-header>
        <ion-card-content>
            No se considera día hábil los días marcados en el calendario como asuetos. En caso de cancelar días de clases no programados en calendario, se considera día hábil y será considerado dentro de los 20 días hábiles de servicio por período. 
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿El costo incluye los viajes de ida y vuelta?
        </ion-card-header>
        <ion-card-content>
            Así es, los viajes son redondos, es decir que incluyen ida y vuelta.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Se puede contratar el servicio sólo de ida o de vuelta?
        </ion-card-header>
        <ion-card-content>
            Por ahora no nos es posible brindar sólo uno de los dos servicios a otro costo por lo que se deberá de cubrir el costo total del servicio.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿El pago comienza a partir de que realicé mi pago?
        </ion-card-header>
        <ion-card-content>
            No, el pago es por periodo. 
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Puedo contratar el servicio a mitad del periodo o tengo que pagar el total?
        </ion-card-header>
        <ion-card-content>
            Los pagos son por períodos independiente de las veces que lo usen en ese período. La inscripción al servicio se puede realizar en el momento que lo desee.
        </ion-card-content>
        <ion-card-header style="color:black"> 
            <h3>PAGO</h3>
            ¿Cuáles son las formas de pago?
            
        </ion-card-header>
        <ion-card-content>
            Puedes realizar el pago desde tu aplicación ya sea con tarjeta de débito, crédito o en tiendas de conveniencia o en banco por transferencia o depósito. Dependiendo la Prepa podrían habilitarse días de pago en efectivo directamente en la Prepa.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿De qué forma puedo pagar a través de la aplicación?
        </ion-card-header>
        <ion-card-content>
            En la aplicación podrás realizar tu pago de forma inmediata con tarjeta de crédito o débito. También podrás descargar una referencia si prefieres realizar tu pago en tiendas de conveniencia.
        </ion-card-content>
        <ion-card-header style="color:black">
            Puedo pagar en tiendas de conveniencia
        </ion-card-header>
        <ion-card-content>
            Sí, puedes obtener una referencia bancaria a través de tu aplicación en la sección de “Mis pases” y pagar en tiendas de conveniencia.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Existe una comisión dependiendo la forma de pago?
        </ion-card-header>
        <ion-card-content>
            En caso de pagos realizados en efectivo, transferencia y depósito no existe el cobro de ninguna comisión adicional.
En el caso de otras formas de pago aplican comisiones bancarias de 3.7% para pagos realizados en terminal bancaria y de $60 en pagos realizados a través de la Aplicación.

        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Puedo realizar el pago en varios pagos?
        </ion-card-header>
        <ion-card-content>
            No, es necesario realizar el pago en una sola exhibición.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Cuánto tiempo abarca el periodo?
        </ion-card-header>
        <ion-card-content>
            Cada periodo es de 20 días hábiles.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Cuándo se tiene que pagar el siguiente periodo?
        </ion-card-header>
        <ion-card-content>
            Para ver las fechas de pago favor de consultar el calendario de pagos. 
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Dónde puedo consultar el calendario de pagos?
        </ion-card-header>
        <ion-card-content>
            Puedes consultar el calendario de pagos en la sección de Informes en esta misma página 
        </ion-card-content>
        <ion-card-header style="color:black">
           <h3>REGISTRO</h3> 
            ¿Cómo puedo separar mi lugar?
            
        </ion-card-header>
        <ion-card-content>
            Una vez habilitada la ruta podrá separar su lugar será necesario realizar el pago total del primer periodo de servicio.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Cómo me registro para lista de espera?
        </ion-card-header>
        <ion-card-content>
            Para registrarse en una ruta será necesario llenar el siguiente formulario (poner link form Pre Registro)
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Puedo cancelar el servicio?
        </ion-card-header>
        <ion-card-content>
            Sí se puede cancelar el servicio. En caso de cancelación durante el período en curso no se procederá a reembolso.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Cómo sé si se va a habilitar mi ruta?
        </ion-card-header>
        <ion-card-content>
            Para habilitar la ruta será necesario un mínimo de 30 usuarios. Para consultar el estatus puede hacerlo en el siguiente link. 
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Cuántos alumnos se requieren para habilitar la ruta?
        </ion-card-header>
        <ion-card-content>
            30 alumnos.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Todos tienen lugar garantizado en el camión?
        </ion-card-header>
        <ion-card-content>
            Así es, cada alumno registrado es considerado con un asiento en la unidad.
        </ion-card-content>

        <ion-card-header style="color:black">
          <h3>UNIDADES</h3>  
            ¿Cuántos usuarios caben por unidad?
            
        </ion-card-header>
        <ion-card-content>
            Las unidades pueden variar desde camionetas para 14 usuarios hasta camiones para 43 usuarios.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Manejan unidades más chicas?
        </ion-card-header>
        <ion-card-content>
            Sí se cuentan con camionetas para menos pasajeros.
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿La unidad cuenta con seguro contra accidentes?
        </ion-card-header>
        <ion-card-content>
            Sí, la unidad cuenta con seguro de protección amplia. 
        </ion-card-content>

        <ion-card-header style="color:black">
            ¿Las unidades son climatizadas?
        </ion-card-header>
        <ion-card-content>
            Sí, todas las unidades deberán de estar climatizadas
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Las unidades cuentan con Wi- Fi?
        </ion-card-header>
        <ion-card-content>
            No, las unidades no cuentan con Wi-Fi
        </ion-card-content>

        <ion-card-header style="color:black">
           <h3>RUTAS/HORARIOS/PARADAS</h3> 
            ¿Puedo agregar una parada a la ruta?
            
        </ion-card-header>
        <ion-card-content>
            No, una vez establecida la ruta no será posible realizar cambios
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Cómo sé a qué hora llega el camión a mi parada?
        </ion-card-header>
        <ion-card-content>
            Podrás ver el horario de paradas en el croquis de tu ruta
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Dónde se vá a parar el camión de regreso?
        </ion-card-header>
        <ion-card-content>
            La parada de regreso será en frente de la parada de subida. En caso de ser un lugar no permitido o inseguro para bajar al alumno, se buscará el lugar adelante más próximo para el descenso.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿A qué hora llega el camión a mi parada de regreso?
        </ion-card-header>
        <ion-card-content>
            Los horarios de salida de la Prepa se encuentran indicados en cada croquis. El horario de llegada a cada parada no se encuentra preestablecido.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿A qué hora sale el camión de regreso?
        </ion-card-header>
        <ion-card-content>
            Los horarios de regreso se encuentran indicados en cada croquis.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Cómo puedo identificar el camión?
        </ion-card-header>
        <ion-card-content>
            El camión deberá de venir identificado con el nombre de la Prepa hacia donde se dirige.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Puedo subirme en otra parada?
        </ion-card-header>
        <ion-card-content>
            Sí, el alumno podrá acceder a la unidad en la parada que decida mientras se encuentre dentro de la ruta que eligió.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿El autobús los deja dentro de las instalaciones?
        </ion-card-header>
        <ion-card-content>
            Dependiendo de la Prepa podrá ingresar a las instalaciones o buscar la parada más cercana a la entrada a las instalaciones.
        </ion-card-content>
        <ion-card-header style="color:black">
            ¿Si mi hijo tiene algún deporte, habrá transporte con horario especial?
        </ion-card-header>
        <ion-card-content>
            Para habilitar otro horario requerimos de un mínimo de 30 usuarios inscritos en la misma ruta.
        </ion-card-content>
        <ion-card-header style="color:black">
            Mi hijo sale mas temprano del horario de salida, ¿habrá horarios de salida mas temprano?
        </ion-card-header>
        <ion-card-content>
            Los horarios son estándares para todos los alumnos. En caso de haber más de 30 alumnos para otro horario, se podrían habilitar otras salidas.
        </ion-card-content>
        </ion-card>
    </ion-content>