<ion-header class="ion-no-border" >
  <ion-toolbar color="ligth">
    <ion-buttons slot="start" class="menu">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
		<ion-title color="dark" mode="ios"> 
			Acceso a Gps
    </ion-title>		
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="padding">
		<h3>Acceso al GPS - Aviso de Privacidad</h3>
		<p>Para garantizar una experiencia óptima y brindar un servicio eficiente, nuestra aplicación requiere acceso al GPS de su dispositivo. 
			Este acceso nos permite proporcionar características clave, como la ubicación en tiempo real, 
			navegación precisa y servicios personalizados basados en la ubicación.
		</p>

		<p>
			Además, para asegurar un rendimiento continuo y ofrecer funcionalidades específicas, 
			la aplicación puede necesitar acceder al GPS en segundo plano, incluso cuando no está activamente en uso. 
			Esta funcionalidad es esencial para proporcionar servicios como seguimiento de rutas, 
			alertas de proximidad y notificaciones basadas en la ubicación.
		</p>

		<p>
			Queremos destacar que respetamos su privacidad y tomamos medidas rigurosas para garantizar la seguridad y confidencialidad de la información de ubicación. 
			No compartiremos su ubicación con terceros sin su consentimiento explícito, 
			y todos los datos de ubicación se manejan de acuerdo con nuestras políticas de privacidad.
		</p>

    <p>
      <strong>Para habilitar el permiso denegado ingrese a la opcion de cobfiguracion de su dispositivo y habilite el permiso de gps</strong>
    </p>

		<ion-button expand="block" class="" size="large" (click)="validar()" >Solicitar Acceso</ion-button>
	</div>
</ion-content>