<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>REGLAMENTO DEL ALUMNO PARA EL USO DEL TRANSPORTE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-card>
        <ion-card-header style="color:black">
        Para el buen uso del servicio el alumno:
        </ion-card-header>
        <ion-card-content>
        - Deberá de estar en su parada de ida 10 minutos antes de la hora marcada.
        </ion-card-content>
        <ion-card-content>
        - Deberá portar su pase de abordar ya sea directamente en su aplicación, como foto de captura en su celular o impreso.
        </ion-card-content>
        <ion-card-content>
        - No podrá compartir su pase de abordar.
        </ion-card-content>
        <ion-card-content>
        - Solo podrá hacer uso de un solo asiento.
        </ion-card-content>
        <ion-card-content>
        - En caso de encontrar un objeto ajeno, reportarlo con nosotros o el operador.  
        </ion-card-content>
        <ion-card-content>
        - En el caso del viaje de regreso se podrá abordar a partir de 15 minutos antes de la salida.  
        </ion-card-content>
        <ion-card-content>
        - Una vez que suban a la unidad ya no podrán bajar.   
        </ion-card-content>
        <ion-card-header style="color:black">
        Por respeto a los demás el alumno:
        </ion-card-header>
        <ion-card-content>
        - No deberá de molestar y/o faltar al respeto a otros alumnos ni al chofer.
        </ion-card-content>
        <ion-card-content>
        - Solo podrá escuchar música con volumen bajo o audífonos.
        </ion-card-content>
        <ion-card-content>
        - No hablar con palabras altisonantes. 
        </ion-card-content>
        <ion-card-content>
        - No separar lugar si la unidad se encuentra llena.
        </ion-card-content>
        <ion-card-header style="color:black">
        Para el cuidado de la unidad el alumno:
        </ion-card-header>
        <ion-card-content>
        - No ingresar con alimentos. 
        </ion-card-content>
        <ion-card-content>
        - No deberá de dejar basura en la unidad. 
        </ion-card-content>
        <ion-card-content>
        - No deberá rasgar ni rayar asientos.  
        </ion-card-content>
        <ion-card-content>
        - No golpear ventanas ni puertas.  
        </ion-card-content>
        <ion-card-content>
      - No subir los pies en lo asientos ni recargarlos en el respaldo. 
        </ion-card-content>
        <ion-card-content>
        - No dañar las unidades por el exterior.   
        </ion-card-content>
        <ion-card-header style="color:black">
        Por seguridad el alumno:
        </ion-card-header>
        <ion-card-content>
     - Deberá de ir sentado en su asiento, no podrá ir hincado o pararse en los asientos.
        </ion-card-content>
        <ion-card-content>
        - No brincar ni empujarse.      
        </ion-card-content>
        <ion-card-content>
        - No deberá compartir teléfonos con el chofer.   
        </ion-card-content>
        <ion-card-content>
        - No abrir ventanas ni sacar parte del cuerpo por las mismas.
        </ion-card-content>
        <ion-card-header style="color:black">
        Queda prohibido:
        </ion-card-header>
        <ion-card-content>
        - Fumar cigarro o algún tipo de dispositivo dentro de la unidad.  
        </ion-card-content>
        <ion-card-content>
        - Abordar la unidad con bebidas embriagantes o en estado inconveniente.   
        </ion-card-content>
        <ion-card-content>
        El incumplimiento de este reglamento será motivo de sanciones que van desde la inhabilitación de 1 día de servicio hasta la inhabilitación total del servicio sin derecho a reembolso ni posibilidad a contratar el servicio el resto del ciclo escolar.   
        </ion-card-content>
      </ion-card>
  </ion-content>


