.box1 {
	width: 100%;
	padding: 10px;
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	.sub-box1 {
		width: 90%;
		padding: 20px;
		border-radius: 20px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		display: flex;
    flex-direction: column;
    align-items: center;
	}
}

.text-box {
		width: 45%;
		padding: 20px;
		border-radius: 20px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		display: flex;
    flex-direction: column;
    align-items: center;
}

.text-info {
	font-size: 13px;
	text-align: justify;
}

.main-loading {
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	.sub-main {
    display: flex;
    align-items: center;
    flex-direction: column;
	}
}

.center-text {
	text-align: center;
}

.rm-padding {
	margin: 0;
	padding: 0;
}

.stroke {
	font-weight: 600;
}

.sub-box-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	.size-icon {
		font-size: 35px;
	}
}