.padding {
	padding: 10px;
}

.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
}

.custom-button {
	background-color: #3880ff;
	height: 50px;
	width: 150px;
	color: white;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}