ion-header  {
    --background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), color-stop(5%, rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0)));
    --ion-color-base: transparent !important;
    }
  
   ion-card {
     --background: white;
   }