ion-header ion-toolbar {
  --background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), color-stop(5%, rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0)));
  --ion-color-base: transparent !important;
  }

  
  .header::after {
    background-image: none;
  }

  .map {
    position : absolute; 
    top : 0;
    left : 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 1 !important;
 }

 ion-card {
   --background: white;
 }

 .item-native {
  --background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.95)), color-stop(5%, rgba(255, 255, 255, 0.95)), to(rgba(255, 255, 255, 0)));
  --ion-color-base: transparent !important;
  --opacity: 0;
 }

 div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}

 #myFixZone {
  max-height: 140px;
}
