<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mis Pases de Abordar
    </ion-title>
  </ion-toolbar>
	<ion-toolbar>
		<ion-button expand="block" class="ion-margin" [routerLink]="['/products']" routerLinkActive="router-link-active">
			<ion-icon name="add-circle" slot="start"></ion-icon>
      Comprar Pases
		</ion-button>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="purchases && purchases.length > 0">

    <ion-slides class="ion-margin" [options]="sliderConfig" (ionSlideTransitionStart)="boardingPassSelected = false; isBoardingPassValid = false; showQRCode = false">
      <ion-slide *ngFor="let card of purchases">

        <ion-card class="custom-card" button (click)="showDetails(card)">
          <ion-card-header>
            <ion-card-subtitle>{{ card.category }}</ion-card-subtitle>
            <ion-card-title>
              <ion-icon *ngIf="!!card.is_courtesy" name="star" color="warning" size="small"></ion-icon>
              {{ card.name }}
              <ion-icon *ngIf="!!card.is_courtesy" name="star" color="warning" size="small"></ion-icon>
            </ion-card-title>
          </ion-card-header>

					<!--*ngIf="card.type === 'Producto'"-->
					<div >
						<ngx-qrcode *ngIf="showQRCode" [qrc-element-type]="elementType" qrc-version = "5" qrc-value="{{user.uid}}-{{card.idBoardingPass}}"
        			qrc-class="qrCode-size" qrc-errorCorrectionLevel="Q">
      			</ngx-qrcode>
					</div>


					<div *ngIf="showQRCode" >
						<div  class="qrnone-box" *ngIf="card.type === 'Servicio'">
							<div class="qrnone-box1">
								<div >
									<p>El QR no esta disponible para servicios</p>
								</div>
							</div>
						</div>
					</div>
					
          

          <ion-card-content *ngIf="!showQRCode" class="size-description">
            {{ card.stopDescription }}
          </ion-card-content>
					
					<ion-item lines="none">
						<div class="box-text">
							<p class="center">Tipo</p>
							<div class="box-text1">
								<ion-icon name="attach" slot="start"></ion-icon>
								<ion-label>{{ card.type }}</ion-label>
							</div>
						</div>
          </ion-item>
					<br>
          <ion-item lines="none">
						<div class="box-text">
							<p class="center">Turno</p>
							<div class="box-text1">
								<ion-icon name="alarm" slot="start"></ion-icon>
								<ion-label>{{ card.round }}</ion-label>
							</div>
						</div>
          </ion-item>
					<br>
          <ion-item lines="none">
						<div class="box-text">
							<p class="center">Parada</p>
							<div class="box-text1">
								<ion-icon name="bus" slot="start"></ion-icon>
								<ion-label>{{ card.stopName }}</ion-label>
							</div>
						</div>
          </ion-item>
					<br>
					<ion-item lines="none">
						<div class="box-text">
							<p class="center">Fecha de Compra</p>
							<div >
								<ion-label style="text-align: center;">{{ fotmatDate(card.creation_date) }}</ion-label>
							</div>
						</div>
          </ion-item>
					<br>
        </ion-card>

      </ion-slide>

			<!--
      <ion-slide>
        <ion-card button [routerLink]="['/products']" routerLinkActive="router-link-active">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-skeleton-text style="width: 50%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
              <ion-skeleton-text style="width: 30%"></ion-skeleton-text>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-label class="ion-text-left">
              <ion-skeleton-text style="width: 100%"></ion-skeleton-text>
              <ion-skeleton-text style="width: 100%"></ion-skeleton-text>
            </ion-label>
          </ion-card-content>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-skeleton-text></ion-skeleton-text>
            </ion-avatar>
            <ion-label><ion-skeleton-text style="width: 50%"></ion-skeleton-text></ion-label>
          </ion-item>
					
          <ion-item class="activated" color="primary">
            <ion-icon name="add-circle" slot="start"></ion-icon>
            <ion-label>Comprar Pase</ion-label>
          </ion-item>
					
        </ion-card>
      </ion-slide>
		-->
    </ion-slides>

    <div *ngIf="boardingPassSelected">
      
      <ion-list *ngIf="boardingPassSelected">
        <ion-list-header>
          Más información
        </ion-list-header>
        <ion-item>
          <ion-icon [name]="selectedBoardingPass.method == 'card' ? 'card' : 'paper'" slot="start"></ion-icon>
          <ion-label color="medium">
            Código autorización
          </ion-label>
          <ion-text slot="end">{{ selectedBoardingPass.authorization }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label color="medium">
            Fecha de compra
          </ion-label>
          <ion-text slot="end">{{ selectedBoardingPass.operation_date | date: 'medium' }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="stopwatch" slot="start"></ion-icon>
          <ion-label color="medium">
            Válido desde
          </ion-label>
          <ion-text slot="end">{{ selectedBoardingPassValidFrom | date: 'mediumDate' }}</ion-text>
        </ion-item>

        <ion-item>
          <ion-icon name="hand" slot="start"></ion-icon>
          <ion-label color="medium">
            Hasta
          </ion-label>
          <ion-text slot="end">{{ selectedBoardingPassValidTo | date: 'mediumDate' }}</ion-text>
        </ion-item>

        <ion-item *ngIf="!isBoardingPassValid" [routerLink]="['/purchases/boardingpass-report', selectedBoardingPass.id]" routerLinkActive="router-link-active">
          <ion-icon color="warning" name="warning" slot="start"></ion-icon>
          <ion-label color="dark" class="ion-text-wrap">
            No es posible usar este pase de abordar en este momento.
          </ion-label>
          <ion-chip outline color="danger" slot="end">
            <ion-icon name="sad" color="danger"></ion-icon>
            <ion-label><small>Reportar</small></ion-label>
          </ion-chip>
          
        </ion-item>

        <ion-item [routerLink]="['/purchases/usage-details',selectedBoardingPass.id]" routerLinkActive="router-link-active">
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>
            Historial de uso
          </ion-label>
        </ion-item>

        <ion-item *ngIf="isBoardingPassValid" [routerLink]="['/purchases/boardingpass-report', selectedBoardingPass.id]" routerLinkActive="router-link-active">
          <ion-icon color="warning" name="warning" slot="start"></ion-icon>
          <ion-label color="medium">
            ¿Problemas con tu pase?
          </ion-label>
          <ion-chip outline color="danger" slot="end">
            <ion-icon name="sad" color="danger"></ion-icon>
            <ion-label><small>Reportar</small></ion-label>
          </ion-chip>
          
        </ion-item>

      </ion-list>
    </div>
  </div>

  <div *ngIf="purchases.length === 0">
    <ion-img class="ion-margin ion-padding" src="assets/img/todolist.jpg"></ion-img>
    <h1 class="ion-text-center">Aún no tienes <br> pases de abordar</h1>
  </div>
	

</ion-content>

<ion-footer>
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <ion-button *ngIf="purchaseRequests && purchaseRequests.length > 0" expand="full" fill="clear"
    [routerLink]="['/reference/list']" routerLinkActive="router-link-active">
    <ion-icon slot="start" name="clock"></ion-icon>
    Tienes referencias de pago abiertas
  </ion-button>
</ion-footer>