<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <div *ngIf="user && userData">
    <ion-item lines="none" detail="false">
      <ion-avatar slot="start">
        <img [src]="user.photoURL ? user.photoURL : 'assets/img/male_avatar.png'">
      </ion-avatar>
      <ion-progress-bar *ngIf="loading" [value]="uploadvalue"></ion-progress-bar>
      <ion-label color="primary">
        <h1>{{ user.displayName }}</h1>
        <h3>{{ user.email }}</h3>
      </ion-label>
      <ion-chip slot="end" color="success" outline="true" (click)="selectImage()">
        <ion-icon name="camera" color="success"></ion-icon>
        <ion-label>Cambiar</ion-label>
      </ion-chip>
      
    </ion-item>

    <ion-list>
      <ion-list-header>
      <ion-label>
        Detalles
      </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon slot="start" name="person-circle-outline" color="tertiary"></ion-icon>
        <ion-input type="text" class="ion-text-right" minLength="4" maxlength="25" name="displayName" [value]="userData.firstName" (ionBlur)="updateData('firstName', $event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="person-circle-outline" color="tertiary"></ion-icon>
        <ion-input type="text" class="ion-text-right" minLength="4" maxlength="25" name="lastName" [value]="userData.lastName" (ionBlur)="updateData('lastName', $event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="call-outline" color="tertiary"></ion-icon>
        <ion-input type="number" class="ion-text-right" minLength="7" maxLength="9" name="phoneNumber" [value]="userData.phoneNumber"></ion-input>      
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="mail" [color]="user.emailVerified? 'success' : 'light'"></ion-icon>
        <ion-input class="ion-text-right" pattern="email" minLength="8" name="email" [value]="user.email" type="email" (ionBlur)="updateEmail($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="keypad-outline" color="tertiary"></ion-icon>
        <ion-input type="number" class="ion-text-right" minLength="7" maxLength="9" name="studentId" [value]="userData.studentId" (ionBlur)="updateData('studentId', $event)"></ion-input>      
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="reorder-four-outline" color="tertiary"></ion-icon>
        <ion-input type="text" class="ion-text-right" minLength="7"  name="customerName" [value]="userData.customerName"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="userData && userData.defaultRoute">
      <ion-list-header>
        <ion-label>
       Información Academica
      </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" name="reorder-three-outline" color="tertiary"> </ion-icon>
        <ion-label color="medium" class="ion-text-center">
          <p>Turno</p>
        </ion-label>
        <ion-select [(ngModel)]="userData.defaultRound"  placeholder="Turno" >
          <ion-select-option value="Día">Día</ion-select-option>
          <ion-select-option value="Tarde">Tarde</ion-select-option>
          <ion-select-option value="Noche">Noche</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="reorder-two-outline" color="tertiary"> </ion-icon>
        <ion-label color="medium" class="ion-text-center">
          <p>Ruta</p>
        </ion-label>       
        <ion-select [(ngModel)]="roundName" placeholder="Ruta" (ionChange)="onRoundSelect($event)">
          <ion-select-option *ngFor="let option of roundOptions" [value]="option.name">{{ option.name }}</ion-select-option>
        </ion-select>
      </ion-item>  
      <ion-item>
        <ion-label color="medium" class="ion-text-center">
          <p>Parada</p>
        </ion-label>
        <ion-icon slot="start" name="remove-outline" color="tertiary"> </ion-icon>        
        <ion-select [(ngModel)]="userData.defaultStopName"  interface="action-sheet" placeholder="Parada">
          <ion-select-option *ngFor="let option1 of stopsOptions" [value]="option1.name">{{ option1.name }} //  {{ option1.description}}</ion-select-option>
        </ion-select> 
      </ion-item>
      <ion-item>
      <ion-button size="small" color="primary" (click)="updateMyInfo()" expand="full">Guardar Cambios</ion-button> 
      </ion-item>
    </ion-list>

    <ion-list *ngIf="userData && userData.defaultRoute">
      <ion-list-header>
        <ion-label>
        Más información
      </ion-label>
      </ion-list-header>

      <ion-item [routerLink]="['/purchases/historic']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" color="primary" name="wallet-outline"></ion-icon>
        <ion-label>
          <h2>Mis compras</h2>
        </ion-label>
      </ion-item>

      <ion-item [routerLink]="['/share/toggle-share']" routerLinkActive="router-link-active" >
        <ion-icon slot="start" color="primary" name="navigate-circle-outline"></ion-icon>
        <ion-label>
          <h2>Compartir mi actividad</h2>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="userData && userData.defaultRoute">
      <ion-list-header>
        <ion-label>
        Acerca del Usuario
      </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" name="star" color="medium"></ion-icon>
        <ion-label color="medium">
          <h2>{{ user.metadata.creationTime | date: 'medium' }}</h2>
          <p>Usuario creado</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="bookmarks" color="medium"></ion-icon>
        <ion-label color="medium">
          <h2>{{ user.metadata.lastSignInTime | date: 'medium' }}</h2>
          <p>Ultima vez acceso al sistema</p>
        </ion-label>
      </ion-item>

    </ion-list>

    
  </div>


</ion-content>

<ion-footer class="ion-no-border">

</ion-footer>